* {
    margin: 0;
    padding: 0;
    background-color: #6600da;
}

nav {
    display: flex;
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: right;
    width: 100%;
    margin: 10px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

header {
    margin: 10px;
    padding: 10px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

h1 {
    font-size: 30px;
    display: flex;
    justify-content: left;
    margin: 10px;
}

input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
    width: 2000px;
    font-size: 14px;
    background-color: #fff;
    color: #000;
}

.lupa-icone {
    background-image: url('imagem/lupa.png');
    background-repeat: no-repeat;
}

input::placeholder {
    margin: 10px;
    background-color: aqua;
}
.container {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;

    color: #FFF;
}

.container img { display: none; }
.container img.imagem { display: block; }

